<h1 class='text-center'><%= t('reviews.edit.title')%></h1>

<%= render 'shared/error_messages', object: @review_form %>

<div class='container w-50 pb-5'>
    <%= form_with model: @review_form, url: review_path(@review), method: :patch, local: true do |f| %>
        
        <%= f.label :conveniencestore_id, class: 'form-label' %>
        <%= f.collection_select :conveniencestore_id, Conveniencestore.all, :id, :name, {}, class: 'form-select' %>   

        <%= f.label :product_name, class: 'form-label' %>
        <%= f.text_field :product_name, class:'form-control' %>

        <%= f.label :price, class: 'form-label' %>
        <div class="input-group">
            <%= f.text_field :price, min: 0, class:'form-control' %>
            <span class="input-group-text"><%= t('reviews.show.yen')%></span>
        </div>
        <%= f.label :rating, class: 'form-label' %>
        <%= f.select :rating, options_for_select((0..5).map { |n| [n, n] }, @review_form.rating.to_i), {}, class: 'form-select' %>
        
        <%= f.label :category_id, class: 'form-label' %>
        <%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: 'none'}, class: 'form-select' %>   

        <%= f.label :taste_id, class: 'form-label' %>
        <%= f.collection_select :taste_id, Taste.all, :id, :name, {include_blank: 'none'}, class: 'form-select' %>   

        <%= f.label :body, class: 'form-label' %>
        <%= f.text_area :body, class:'form-control ', style: 'height: 150px;' %>

        <%= f.label :image, class: 'form-label' %>
        <% if @review_form.review.image.present? %>
            <div class="current-image mb-3">
            <%= image_tag @review_form.review.image.url, alt: "現在の画像", class: "img-thumbnail", style: "max-width: 200px;" %>
            </div>
        <% end %>
        <%= f.file_field :image, class: 'form-control' %>
        <% if @review_form.errors[:image].present? %>
        <div class="text-danger small mt-1">画像は再度選択してください</div>
        <% end %>
        

        <%= f.submit t('helpers.submit.review_form.update'), class: 'btn btn-primary w-100 mt-4'%>
    <% end %>
</div>