<div class='container bg-white py-3' style='border-radius: 10px;'>

    <div class='d-flex align-items-center justify-content-between px-3'>
        <%= link_to t('reviews.show.reviews_back'), reviews_path, class: 'btn btn-secondary '%>
       
        <div class='text-end'>
         <% if current_user == @review.user %>
        <%= link_to t('reviews.show.edit'), edit_review_path(@review), class: 'btn btn-primary' %>
        <%= link_to t('reviews.show.delete'), review_path(@review), data: { turbo_method: :delete, turbo_confirm: t('reviews.show.confirm_destroy') }, class: 'btn btn-danger' %>
        <% end %>
        </div>
    </div>

    <div class='card-body py-5 mx-auto' style='max-width: 500px;'>
        <% if @review.image.present? %>
        <%= image_tag @review.image.url, class: 'card-img-top h-100', style: 'height: 250px object-fit: cover;' %>
        <% else %>
        <%= image_tag 'no_image.jpg', class: 'card-img-top h-100', style: 'height: 250px object-fit: cover;' %>
        <% end %>
        <p class="card-title mt-4">
            <span class='fw-bold me-2'><%= t('reviews.show.rating')%>：</span>
            <%= "★" * @review.rating.to_i + "☆" * (5 - @review.rating.to_i) %>  <%= @review.rating %>
        </p>
        <p class='card-title mt-2'>
            <span class='fw-bold me-2'><%= t('reviews.show.product_name')%>:</span>
            <%= @review.product.name %>
        </p>
        <p class='card-title mt-2'>
            <span class='fw-bold me-2'><%= t('reviews.show.conveniencestore')%>:</span>
            <%= @review.product.conveniencestore.name %></p>
        <p class='card-title mt-2'>
            <span class='fw-bold me-2'><%= t('reviews.show.price')%>:</span>
            <%= @review.product.price.to_i %><%= t('reviews.show.yen')%>
        </p>
        <p class='card-title mt-2'>
            <span class='fw-bold me-2'><%= t('reviews.show.category')%>:</span>
            <% if @review.categories.blank? %>
                <span><%= t('reviews.show.none')%></span>
            <% else %>    
                <% @review.categories.each do |category| %>
                    <span class='badge bg-secondary'> <%= category.name %> </span>
                <% end %>
            <% end %>    
        </p>
        <p class='card-title mt-2'>
            <span class='fw-bold me-2'><%= t('reviews.show.taste')%>:</span>
            <% if @review.tastes.blank? %>
                <span><%= t('reviews.show.none')%></span>
            <% else %>
                <% @review.tastes.each do |taste| %>
                    <span class='badge bg-secondary'> <%= taste.name %> </span>
                <% end %>
            <% end %>
        </p>
        <label class='mt-2 fw-bold'><%= t('reviews.show.body')%>:</label>
        <div class='form-control mt-2' style='height: 150px; overflow-y: auto; word-wrap: break-word; letter-spacing: 0.05rem;'>
            <%= @review.body %>
        </div> 
    </div>
</div>